rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // TEMPORARILY ALLOW ALL ACCESS FOR DATA MIGRATION
    // This is insecure and MUST be changed after migration.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
